<?xml version="1.0"?>
<model>
  <name>new_lobby</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Hycon</name>
    <email>sw.moon@hyconsoft.com</email>
  </author>

  <description>
    An example of heightmap
    The pavingstone material is from ambientCG
  </description>
</model>
