<?xml version="1.0"?>
<model>
  <name>lobby</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Hycon</name>
    <email>sw.moon@hyconsoft.com</email>
  </author>

  <description>
    Hyconsoft's lobby example
    Made with PointCloud and converted into SDF.
  </description>
</model>